*{
	margin: 0;
	padding: 0;
}
.header, .footer{
	background-color:gray;
	line-height: 100px;
}
.header, .footer, .container {
	text-align: center;
	font-size: 22px;
	color: white;
	min-height: 100px;
}
.container {
	padding-left: 200px;
	padding-right: 150px;
}
.container:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
} 
.center {
	background-color: #00ffff;
	width: 100%;
}
.left {
	background-color: blue;
	width: 200px;
	margin-left:-100%;
	left: -200px;
}
.right {
	background-color: orange;
	width: 150px;
	right: -150px;
	margin-left: -150px; 
}
.center, .left, .right {
	position: relative;
	float: left;
	height: 200px;
	line-height: 200px;
}
